<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="login()">
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"  formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"  formControlName="password"></ion-input>
    </ion-item>
  
    <p text-right (click)="forgotPass()">Forgot Password?</p>
  
    <ion-button type="submit" expand="full" color="primary">Login</ion-button>
  </form>

  <p text-center>Don't have a account?</p>
  <ion-button expand="full" color="danger" (click)="registerModal()">Register</ion-button>
</ion-content>