<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="fetchData()">
    <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="fName" name="fName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input  formControlName="mName" name="mName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input  formControlName="lName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input  formControlName="adrs"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Pincode</ion-label>
      <ion-input type="number"  formControlName="pin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input formControlName="city"></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group formControlName="gender">
        <ion-list-header>
          <ion-label>
            Gender
          </ion-label>
        </ion-list-header>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio value="male"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio value="female"></ion-radio>
          </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Date-Of-Birth</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" formControlName="dob"></ion-datetime>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"  formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contact</ion-label>
      <ion-input type="number"  formControlName="contact"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"  formControlName="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="danger">Register</ion-button>
  </form>

  <p text-center>Already have a account?</p>
  <ion-button type="submit" expand="full" color="primary" (click)="loginModal()">Login</ion-button>
</ion-content>  